<app-header *ngIf="mobileQuery.matches"></app-header>
<mat-drawer-container autosize class="main-container" [ngClass]="{'mobile': mobileQuery.matches, 'opened': drawerOpened, 'closed': !drawerOpened}">
  <mat-drawer opened #drawer class="sidenav" [ngClass]="drawerOpened ? 'opened' : 'closed'" [mode]="mobileQuery.matches ? 'over' : 'side'">
    <app-drawer></app-drawer>
  </mat-drawer>
  <app-header *ngIf="!mobileQuery.matches"></app-header>
  <div class="main-content" [ngClass]="{'mobile': mobileQuery.matches}">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-drawer-container>
