:host ::ng-deep {

  .chart {
    .ngx-charts {
      transform: translateX(calc(-50% + 72px));
    }
  }

  .chart-legend {
    position: absolute;
    left: 180px;
    transform: translateY(calc(90px - 50%));
    width: 100px !important;

    .legend-labels {
      background-color: transparent;
  
      .legend-label-text {
        color: rgba(#1E3354, .8);
        font-size: 13px;
        font-weight: 500;
      }
    }
  }
}