<div class="page-header">

  <h3 class="title">Dashboard</h3>

  <div>
    <button mat-flat-button (click)="picker.open()" color="primary">
      <mat-icon class="datepicker-icon">calendar_today</mat-icon>
      {{range.value.start | date: 'd, MMMM, y' }} - {{range.value.end | date: 'd, MMMM, y' }}
    </button>
    <mat-date-range-input class="datepicker-input" [formGroup]="range" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date">
      <input matEndDate formControlName="end" placeholder="End date">
    </mat-date-range-input>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </div>
</div>

<mat-grid-list cols="3" gutterSize="40px" rowHeight="180px">
  <mat-grid-tile>
    <mat-card class="card w-100">
      <mat-card-header>
        <mat-card-title>
          <mat-icon color="primary" class="mr-4">attach_money</mat-icon>
          Total income
        </mat-card-title>
        <div class="ml-auto">
          <button mat-icon-button aria-label="Horizontal menu">
            <mat-icon color="primary">more_horiz</mat-icon>
          </button>
        </div>
      </mat-card-header>
      <mat-card-content class="mt-5">
        <h3 class="mat-h3">$4,567</h3>
        <div class="d-flex justify-content-between">
          <span>Receivables</span>
          <span>$0.00/$0.00</span>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card w-100">
      <mat-card-header>
        <mat-card-title>
          <mat-icon color="primary" class="mr-4">account_balance_wallet</mat-icon>
          Total expenses
        </mat-card-title>
        <div class="ml-auto">
          <button mat-icon-button aria-label="Horizontal menu">
            <mat-icon color="primary">more_horiz</mat-icon>
          </button>
        </div>
      </mat-card-header>
      <mat-card-content class="mt-5">
        <h3 class="mat-h3">$4,567</h3>
        <div class="d-flex justify-content-between">
          <span>Payables</span>
          <span>$0.00/$0.00</span>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card w-100">
      <mat-card-header>
        <mat-card-title>
          <mat-icon color="primary" class="mr-4">account_balance</mat-icon>
          Total profit
        </mat-card-title>
        <div class="ml-auto">
          <button mat-icon-button aria-label="Horizontal menu">
            <mat-icon color="primary">more_horiz</mat-icon>
          </button>
        </div>
      </mat-card-header>
      <mat-card-content class="mt-5">
        <h3 class="mat-h3">$4,567</h3>
        <div class="d-flex justify-content-between">
          <span>Upcoming</span>
          <span>$0.00/$0.00</span>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<app-line-chart></app-line-chart>

<mat-grid-list class="mt-10" cols="2" gutterSize="40px" rowHeight="265">
  <mat-grid-tile>
    <mat-card class="card w-100">
      <mat-card-header>
        <mat-card-title>
          Income by category
        </mat-card-title>
        <div class="ml-auto">
          <button mat-icon-button aria-label="Horizontal menu">
            <mat-icon color="primary">more_horiz</mat-icon>
          </button>
        </div>
      </mat-card-header>
      <mat-card-content class="mt-5">
        <app-pie-chart></app-pie-chart>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card w-100">
      <mat-card-header>
        <mat-card-title>
          <mat-icon color="primary" class="mr-4">attach_money</mat-icon>
          Expenses by category
        </mat-card-title>
        <div class="ml-auto">
          <button mat-icon-button aria-label="Horizontal menu">
            <mat-icon color="primary">more_horiz</mat-icon>
          </button>
        </div>
      </mat-card-header>
      <mat-card-content class="mt-5">
        <app-pie-chart></app-pie-chart>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list class="mt-10" cols="3" gutterSize="40px" rowHeight="180px">
  <mat-grid-tile>
    <mat-card class="card w-100">
      <mat-card-header>
        <mat-card-title>
          <mat-icon color="primary" class="mr-4">account_balance</mat-icon>
          Account balance
        </mat-card-title>
        <div class="ml-auto">
          <button mat-icon-button aria-label="Horizontal menu">
            <mat-icon color="primary">more_horiz</mat-icon>
          </button>
        </div>
      </mat-card-header>
      <mat-card-content class="mt-5">
        <ul class="list">
          <li>
            <p class="title">Balance</p>
            <p class="text">$14,567</p>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card w-100">
      <mat-card-header>
        <mat-card-title>
          <mat-icon color="primary" class="mr-4">attach_money</mat-icon>
          Latest income
        </mat-card-title>
        <div class="ml-auto">
          <button mat-icon-button aria-label="Horizontal menu">
            <mat-icon color="primary">more_horiz</mat-icon>
          </button>
        </div>
      </mat-card-header>
      <mat-card-content class="mt-5">
        <ul class="list">
          <li>
            <p class="title">Date</p>
            <p class="text">01 April, 2021</p>
          </li>
          <li>
            <p class="title">Category</p>
            <p class="text">Deposit</p>
          </li>
          <li>
            <p class="title">Amount</p>
            <p class="text">$14,567</p>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card w-100">
      <mat-card-header>
        <mat-card-title>
          <mat-icon color="primary" class="mr-4">account_balance_wallet</mat-icon>
          Latest expenses
        </mat-card-title>
        <div class="ml-auto">
          <button mat-icon-button aria-label="Horizontal menu">
            <mat-icon color="primary">more_horiz</mat-icon>
          </button>
        </div>
      </mat-card-header>
      <mat-card-content class="mt-5">
        <ul class="list">
          <li>
            <p class="title">Date</p>
            <p class="text">01 April, 2021</p>
          </li>
          <li>
            <p class="title">Category</p>
            <p class="text">Deposit</p>
          </li>
          <li>
            <p class="title">Amount</p>
            <p class="text">$14,567</p>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>